.block-class {
    margin: 10px 0; /* Adjust the values as needed */
    padding: 0; /* Reduce padding if necessary */
  }

.custom-height {
    padding: 10px 0; /* Adjust this value to reduce height */
}

.resume-biography-3 {
    margin-bottom: 10; /* Reduce bottom margin if necessary */
}

.trusted-companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.company-logo {
  max-width: 150px;
  margin: 10px;
}

